body {
    font-family: 'Poppins', sans-serif;
    background-color: #BCA89F;
    color: #FFFFFF;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bca89f;
}


.headertitle h2{
    color:#5B3E31;
    justify-content: center;
    align-items: center;
}

.login-form{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Poppins;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.cloud-icon {
    position: absolute;
   width: 500px;
   height: 500px;
   right:-15px;
   top:-130px;
   padding-bottom:150px;
}
.cloud-icon2 {
    position: absolute;
   width: 500px;
   height: 500px;
   right:1000px;
   top:-130px;
}

.ship-icon {
    position: absolute;
   width: 300px;
   height: 300px;
   right:1000px;
    top: 10px;
    padding-top: 150px;
}

.water-icon {
    position: absolute;
    width: 400px;
    height: 220px;
    right:940px;
     top: 10px;
     padding-top: 380px;
}
.water-icon2 {
    position: absolute;
    width: 580px;
    height: 190px;
    right:360px;
     top: 90px;
     padding-top: 370px;
}
.water-icon3 {
    position: absolute;
    width: 363px;
    height: 220px;
    right:0px;
     top: 10px;
     padding-top: 380px;
}




.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color:#5B3E31;
}

.input-container input {
    width: 460px;
    padding: 10px;
    border: none;
    background-color: #5B3E31;
    color: #FFFFFF;
    border-radius: 5px;
}

.login-form button  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    
}

.button-container button:hover {
    background-color: #65453A;

}

.error {
    color: red;
}
.icon-input-container {
    position: relative;
}

.icon-input-container input {
    padding-left: 30px; /* Adjust according to icon size */
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust according to icon size */
    transform: translateY(-50%);
}
.avatar-icon{
    position: absolute;
   width: 20px;
   height: 20px;
   right:-15px;
   top:3px;
}
.key-icon{
    position: absolute;
   width: 20px;
   height: 20px;
   right:-15px;
   top:3px;
}
.Sign-up {
   color:#5B3E31;
   display: flex;
   justify-content: center;
   align-items: center;
}